Install v7.1 on Raspberry Pi

Long time user of Geneweb, I am trying to install v7.01 on a Pi 5 running Bookworm and updated.
The downloads do not appear to have and 'arm' version so I assume I need to compile it myself.
I am following the instructions here https://geneweb.tuxfamily.org/wiki/raspbian#Compiling_GeneWeb_7  and getting most of the way through but then failing.  I have uploaded my notes and the output from the make command.  Can anyone tell me where I am going wrong please?  Note my knowledge of ocaml in pretty much zero.
Thanks
Mick

[InstallNotes.txt](https://github.com/user-attachments/files/20904883/InstallNotes.txt)
[makedistrib.txt](https://github.com/user-attachments/files/20904882/makedistrib.txt)


Hello. Thank you for trying latest Geneweb on a Rasp 5 ! The tutorial is a
bit old. Your log shows that you need a few dependancies (added recently),
you can install what's missing with `opam install pp_loc uri digestive
calmpzip` (if anything else is asked after those doing a new `make distrib`
just do the same, add it with `opam install ...`. Don't hesitate to report
any other problem you have so we could update the documentation later for
others!

On Wed, Jun 25, 2025, 15:48 micksulley ***@***.***> wrote:

> *micksulley* created an issue (geneweb/geneweb#2271)
> <https://github.com/geneweb/geneweb/issues/2271>
>
> Long time user of Geneweb, I am trying to install v7.01 on a Pi 5 running
> Bookworm and updated.
> The downloads do not appear to have and 'arm' version so I assume I need
> to compile it myself.
> I am following the instructions here
> https://geneweb.tuxfamily.org/wiki/raspbian#Compiling_GeneWeb_7 and
> getting most of the way through but then failing. I have uploaded my notes
> and the output from the make command. Can anyone tell me where I am going
> wrong please? Note my knowledge of ocaml in pretty much zero.
> Thanks
> Mick
>
> InstallNotes.txt
> <https://github.com/user-attachments/files/20904883/InstallNotes.txt>
> makedistrib.txt
> <https://github.com/user-attachments/files/20904882/makedistrib.txt>
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/geneweb/geneweb/issues/2271>, or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/ACO7ZZ6AT53JE53CMYWBL4T3FKSBNAVCNFSM6AAAAACADLWOGWVHI2DSMVQWIX3LMV43ASLTON2WKOZTGE3TKNZSHA3DEMI>
> .
> You are receiving this because you are subscribed to this thread.Message
> ID: ***@***.***>
>


Thanks for your help, I think I am nearly there.
I have got through the build and created an instance from distribution.  I then ran setup and create a blank database 'test' and created 'sulley' database from my gwc file.
It has create test.gwb and sulley.gwb directories in gw
If I open the 2317 port in a browser I see the "Choose a genealogy" page, but "List of available genealogies" is blank and if I enter "test" or "sulley" as the database I get an error - 
````
Incorrect request
404 Not Found

   The 404 (Not Found) status code indicates that the origin server did
   not find a current representation for the target resource or is not
   willing to disclose that one exists.  A 404 status code does not
   indicate whether this lack of representation is temporary or
   permanent; the 410 (Gone) status code is preferred over 404 if the
   origin server knows, presumably through some configurable means, that
   the condition is likely to be permanent.

   A 404 response is cacheable by default; i.e., unless otherwise
   indicated by the method definition or explicit cache controls (see
   Section 4.2.2 of [RFC7234]).
````
Any idea what I have done wrong here?
Thanks
Mick


Hi Mick. 
You probably created your base in gw when gwd experts them in gw/bases. 
When launching gwd, you may specify the bases folder with -bd. 
You might also store your bases in a folder outside of distribution/gw. This ensures their survival when installing a new release of GeneWeb. 


Please make sure you "record" the changes that need to be made in the help documentation.

OK I have it working now and have figured out where the people pictures go, but the links in my notes are not working.  Fr example I have <a href='%sm=DOC;s=birt_SulleyMichaelWilliam1948.jpg'>Birth Cert</a>  which used to link to the .jpg in bases/src/base_name/images  in v7.0   Where does it link to in v7.1?
Yes I am creating a document for installation on a Pi, I'll uploaded it when I have it all working.
Thanks
Mick

links to src images have not changed!
portraits are in `bases/images/base_name`
other images are in `bases/src/base_name`