[BUG]Incorrect request

Hello 
first thanks for the apps and this stuff : 
https://github.com/michelmno/geneweb/releases/tag/master_20240405

**Describe the bug / Description du bogue**
using https://github.com/michelmno/geneweb/releases/tag/master_20240405 on MACOS Monterey Intel

error =
<h1>Incorrect request</h1><!DOCTYPE html>
<html lang="en-GB">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>404 Not Found</title>
  <h1>404 Not Found</h1>
  <pre>
   The 404 (Not Found) status code indicates that the origin server did
   not find a current representation for the target resource or is not
   willing to disclose that one exists.  A 404 status code does not
   indicate whether this lack of representation is temporary or
   permanent; the 410 (Gone) status code is preferred over 404 if the
   origin server knows, presumably through some configurable means, that
   the condition is likely to be permanent.

   A 404 response is cacheable by default; i.e., unless otherwise
   indicated by the method definition or explicit cache controls (see
   Section 4.2.2 of [RFC7234]).
  <pre>
</html>

**Expected behavior / Comportement attendu**
when trying to reach http://localhost:2317/user?lang=fr


http://localhost:2316/fr ids ok with one database

Any help would be appreciated

> when trying to reach http://localhost:2317/user?lang=fr
> 
> http://localhost:2316/fr ids ok with one database
> 
> Any help would be appreciated

* What is `'ids'` OK in `http://localhost:2316/fr`  ?
   Do you mean the `http://localhost:2316/gwsetup?lang=fr;v=list.htm` is reporting a non empty list ?
* Is `'user'` the name of a database listed in above list ?
* How did you started the gwd service ? and what are gwd input parameters ?

   

Hello 
http://localhost:2316/gwsetup?lang=fr;v=list.htm is reporting a non empty list 
the database is called 'user'


gwd.arg :
-setup_link
-lang
fr
-log
.

user.gwf :
 # File generated by "setup"

default_lang=
max_anc_level=8
max_desc_level=12
max_anc_tree=7
max_desc_tree=4
history=
images_path=
hide_advanced_request=no
friend_passwd=
wizard_passwd=
wizard_just_friend=
hide_private_names=no
can_send_image=
renamed=
p_mod=
perso_module_l=ligne
perso_module_d=data_3col
perso_module_a=arbres
perso_module_s=sources
perso_module_n=notes
perso_module_c=chronologie
perso_module_r=relations
perso_module_f=fratrie
perso_module_u=unions
perso_module_g=gr_parents
perso_module_p=parents
perso_module_i=individu
full_siblings=yes
counter=no
long_date=no
template=*
latest_event=20
max_cousins_level=5
max_cousins=2000
place_surname_link_to_ind=yes
display_sosa=yes
show_consang=yes
use_restrict=no
disable_forum=yes
access_by_key=yes


gwd.log
GeneWeb 7.1b exp - Possible addresses:
http://localhost:2317/base
http://127.0.0.1:2317/base
http://iMac-de-Tetonne.local:2317/base
where "base" is the name of the database
Type “Ctrl+C” to stop the service
Ready 2024-04-14 14:51 port 2317...
[2024-04-14 14:51:50]: WARNING No config file found in either ./bases/.gwf or /Applications/Utilities/ Applications X/Esotérisme/GeneWeb/20240405geneweb-macos/gw/etc/a.gwf
Warning: logging not enabled. Use '-log 2' to log on stderr
[2024-04-14 14:51:54]: WARNING No config file found in either ./bases/user.gwf or /Applications/Utilities/ Applications X/Esotérisme/GeneWeb/20240405geneweb-macos/gw/etc/a.gwf
Warning: logging not enabled. Use '-log 2' to log on stderr

user.gwf and user.gwf Both exist
 

* the Warning about no config file is most probably one of the problems reported in  issue #1767 solved by PR #1769
* something that do not appear in your gwd parameters is the -hd and -bd parameters that may be ignored only if  your are starting gwd in a specific environment as per gwd online help
```
$gw.master_20240405/gwd --help |grep -E '\-hd|\-bd'
  -bd <DIR>              Specify where the “bases” directory with databases is installed (default if empty is “bases”).
  -etc_prefix <DIR>      Specify where the “etc” directory is installed (default if empty is [-hd value]/etc).
  -hd <DIR>              Specify where the “etc”, “images” and “lang” directories are installed (default if empty is “gw”).
  -images_prefix <DIR>   Specify where the “images” directory is installed (default if empty is [-hd value]/images).
```
* I would suggest to make a trial  adding at least the -bd parameter with correct directory as per your environment; and check if that solve the described 404 error.